apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: order-mongo-pvc
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500M
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: order-mongo-data
spec:
  capacity:
    storage: 500M
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /data/order
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-mongo-depl
spec:
  selector:
    matchLabels:
      app: order-mongo
  template:
    metadata:
      labels:
        app: order-mongo
    spec:
      containers:
        - name: order-mongo
          image: mongo
          volumeMounts:
            - name: "order-mongo-data-dir"
              mountPath: "/data/db"
      volumes:
        - name: "order-mongo-data-dir"
          persistentVolumeClaim:
            claimName: "order-mongo-pvc"
---
apiVersion: v1
kind: Service
metadata:
  name: order-mongo-srv
spec:
  type: NodePort
  selector:
    app: order-mongo
  ports:
    - name: db
      protocol: TCP
      port: 27017
      targetPort: 27017
      nodePort: 30705